.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

span {
  font-size: 5em;
}

button {
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
}